@font-face {
    font-family: 'Open-Sans';
    src: url('../OpenSans.ttf') format('truetype');
}

body, html, .bg {
    height: 100%;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, .bg {
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}

body {
    font-family: "Open-Sans";


    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.login {
    width: 300px;

    position: fixed;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    white-space: nowrap;
    overflow: visible;
    overflow-wrap: normal;

    .title {
        font-size: 30px;

        padding-left: 3px;
        padding-top: 4px;
        
        width: 100%;
    }

    input {
        padding: 6px;
        font-size: 20px;
        border: 1px solid #000000;
        border-radius: 3px;
        background-color: #FFFFFF;
        color: #303030;
        font-family: "Open Sans";
        line-height: normal;
        text-rendering: optimizeLegibility;
        line-height: normal;
        text-align: start;
        text-transform: none;
        word-spacing: normal;
        letter-spacing: normal;
        cursor: text;
        text-indent: 0;
        text-shadow: none;
        width: calc(100% - 14px);
        display: inline-block;
    }

    .submit {
        display: inline-block;
        background: transparent;
        border: none;
        color: #FFFFFF;
        font-size: 25px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        vertical-align: middle;
        width: 40px;
        text-align: left;
        padding: 0px;
        padding-left: 10px;
        &:hover {
            color: #325e28;
        }
    }

    p {
        font-size: 13px;
        white-space: normal;
    }

    a {
        color: #FFFFFF;
    }
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
    width: 100px;
}

.head {
    font-size: 30px;

    width: 100%;
    padding-top: 25px;
    text-align: center;
}

@media screen and (max-width: 600px) { 
    .logo {
        height: 50px;
        width: 50px;
    }
    .head {
        font-size: 20px;
    }

    .login {
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    .head {
        font-size: 15px;
    }
}

.credits {
    font-size: 12px;

    position: fixed;
    bottom: 10px;
    left: 10px;

    .credit {
        display: inline;
    }
}