@font-face {
    font-family: 'Open-Sans';
    src: url('/OpenSans.ttf') format('truetype');
}

body, html, .bg {
    height: 100%;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, .bg {
    background-repeat: no-repeat;
    background-position: center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Open-Sans";


    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login {
    width: 200px;

    position: fixed;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    label {
        display: block;

        .title {
            font-size: 25px;

            padding-left: 3px;
            padding-top: 4px;
        }

        input {
            width: 100%;
        }
    }

    input[type=submit] {
        float: right;
        margin-top: 3px;
        display: block;
    }
}

.credits {
    font-size: 12px;

    position: fixed;
    bottom: 10px;
    left: 10px;

    .credit {
        display: inline;
    }
}